body {
  margin: 0;
    font-family: 'SF Mono', sans-serif;
}


code {
  font-family: 'SF Mono', sans-serif !important;
}

@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"),
  url("./Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}