body {
  margin: 0;
  font-family: 'SF Mono', sans-serif;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(53, 58, 63);
}

code {
  font-family: 'SF Mono', sans-serif !important;
}

@font-face {
  font-family: "RobotoMono";
  src: local("RobotoMono"),
  url("./Fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf");
}
/* project images size */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper-home img {
  width: 90%;
  height: 80%;
  margin-left: 30px;
}

.wrapper-images img {
  width: 300px;
  height: 300px;
  margin-bottom: 50px;
}
/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 27, 0.541);
  display: flex;
  align-items: center;
}
.overlay img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
}
.overlay > span {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: rgba(0, 171, 252,.8);;
  z-index: 999;
  cursor: pointer;
}
.overlay-arrows_left {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  left: 0;
  z-index: 999;
}

.overlay-arrows_left svg {
  width: 50px;
  height: 50px;
  color: rgba(0, 171, 252,.8);;
}

.overlay-arrows_right svg {
  width: 50px;
  height: 50px;
  color: rgba(0, 171, 252,.8);;
}

.overlay-arrows_right {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
  top: 50%;
  z-index: 999;
}